* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: rgb(60, 172, 79);
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 55px;
  background-color: #93a895ec;
  min-height: 100;
  font-size: larger;
  margin-left: 300px;
  margin-right: 300px;
}


.label {
  padding-left: 10px;

}



